.App {
  text-align: center;
  /* border: solid 2px red; */
}

.response {
  border: 2px solid black;
  width: 800px;
  height: 500px;
  margin: 25px auto;
}

.asked {
  margin: 25px auto;
}

.ai-Image {
  margin-top: 5%;
  object-fit: contain;
  width: 95vw;
}

.nav-link-container {
  /* border: solid 1px black; */
  display: block;
  width: 300px;
  margin: 2% auto;
  text-align: center;
  text-decoration: none;
}

.nav-link {
  padding: 25px;
  text-decoration: none;
  color: #d8d8d856;
  font-weight: bold;
}

.active {
  color: #d8c564;
}

/* copy paste for regular windows size. FIX LATER */
.App {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: auto;
  /* border: solid 2px red; */
  justify-content: center;
  margin: 0;
  /* background-color: #495e57; */
}
.response {
  width: 95%;
  margin: 0;
  height: auto;
  border-radius: 10px;
}
form {
  width: 95%;
  margin: 0;
}
.asked {
  margin: 0;
}
.submit {
  width: 100px;
  height: 30px;
  margin: 20px 0;
  color: #495e57;
  font-weight: bold;
  background-color: #f4ce14;
  border: solid 2px black;
  border-radius: 10px;
}
textarea {
  width: 95%;
  text-align: center;
  justify-self: center;
}

.temp-container {
  display: flex;
  flex-flow: column wrap;
}

@media screen and (max-width: 400px) {
  .App {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: auto;
    /* border: solid 2px red; */
    justify-content: center;
    margin: 0;
    /* background-color: #495e57; */
  }
  .response {
    width: 95%;
    margin: 0;
    height: auto;
    border-radius: 10px;
  }
  form {
    width: 95%;
    margin: 0;
  }
  .asked {
    margin: 0;
  }
  .submit {
    width: 50%;
    height: 30px;
    margin: 20px 0;
    color: #495e57;
    font-weight: bold;
    background-color: #f4ce14;
    border: solid 2px black;
    border-radius: 10px;
  }
  textarea {
    width: 95%;
    text-align: center;
    justify-self: center;
  }
}
